@import 'variables';

.btn {
    display: flex;
    justify-content: center;
    align-self: center;
    color: $primary;
    background-color: transparent;
    padding: 10px 16px;
    outline: 2px solid $primary;
    outline-offset: 0px;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &:hover {
        color: #fff;
        outline-offset: 6px;
        background-color: $primary;
        transition: 0.3s;
    }

    &_bold {
        font-weight: bold;
        border-width: 2px;
    }

    &_solid {
        color: #fff;
        background-color: $primary;

        &:hover {
            color: $primary;
            background-color: #fff;
            transition: 0.3s;
        }
    }

    &_border {
        border-radius: 10px;
    }
}
