@import '_variables.scss';

.body {
    padding-top: $header_height;
    background-color: $bg--soft_dark;
    display: flex;
    justify-content: center;
    padding: $body_padding;

    .content {
        color: $light;
        width: $content_width;
        padding: $content_padding;
        background-color: $bg--dark;
        display: flex;
        flex-direction: column;
        box-shadow: $content_shadow;
    }
}

.title {
    font-size: 4rem;
    color: $light;
}

.filter-options {
    margin-top: 20px;
    display: flex;
    column-gap: 6px;

    li {
        font-size: 1rem;
    }
}
