@import '_variables.scss';
$search_width: 24vw;

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: $header_height;
    color: $light;
    padding: 0 60px 0 40px;
    background-color: #000;
    z-index: 999;

    &_transparent {
        background-color: transparent;
    }

    .logo {
        padding-right: 20px;
        border-right: 2px solid $primary;
        margin-right: 20px;
    }
}

.header-left,
.header-right {
    height: $header_height;
    display: flex;
    align-items: center;
}

.navbar {
    height: $header_height;
    // margin-left: 30px;
    display: flex;
    align-items: center;

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        // height: $header_height;
        padding: 14px 0;
        font-size: 1.8rem;
        color: $light--dim;
        transition: 0.4s;
        position: relative;
        cursor: grab;

        &:hover,
        &.active {
            color: $light;

            &::before {
                width: 80%;
            }
        }

        &::before {
            content: '';
            width: 0;
            height: 2px;
            background-color: $primary;
            position: absolute;
            bottom: 0;
            transition: 0.4s;
        }
    }
}

.genre-list {
    display: none;
    position: absolute;
    left: 10%;
    top: 100%;
}
.nav-item_genres:hover .genre-list {
    display: block;
}

.header-right {
    margin-left: 20px;

    button {
        padding: 10px 14px;
        display: flex;
        align-items: center;
        color: $light;
        opacity: 0.6;
        transition: 0.4s;

        &:hover {
            color: $primary;
            opacity: 1;
        }
    }
}

.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid $primary;
}

.logout-btn {
    font-size: 1.6rem;
    border-left: 1px solid $primary;
    margin-left: 10px;
}
