@import '_variables.scss';

.wrapper {
    width: 100%;
    margin-bottom: 50px;
}
.title {
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $primary--dark;

    &::before {
        content: '';
        width: 100px;
        height: 2px;
        background-color: $primary;
    }
}

.list {
    display: flex;
    justify-content: center;

    .multi-row {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 26px;
        column-gap: 10px;
    }
}

.poster-card {
    width: $card_width;
}
