@import '_variables.scss';

.wrapper {
    width: 100%;
    margin-bottom: 50px;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    // border: 1px dashed red;
}

.title {
    display: inline-block;
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 2px solid $primary--dark;

    &::before {
        content: '';
        width: 100px;
        height: 2px;
        background-color: $primary;
    }
}

.more-btn {
    font-size: 1.4rem;
    color: #f5f5f5b4;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 84px;
    transition: 0.3s;

    &:hover {
        color: $primary;
    }
}

.list {
    display: flex;
    justify-content: center;

    .multi-row {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 26px;
        column-gap: 10px;
    }
}

.poster-card {
    width: $card_width;
}
