@import '_variables.scss';

.body {
    padding-top: $header_height;
    background-color: $bg--soft_dark;
    display: flex;
    justify-content: center;
    padding: $body_padding;

    .content {
        color: $light;
        width: $content_width;
        padding: $content_padding;
        margin-top: 80px;
        background-color: $bg--dark;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: $content_shadow;
        position: relative;
    }
}

.title {
    font-size: 5rem;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: $primary;
    padding: 10px 20px;
    border-radius: 10px;
    // color: $light;
}

.media-types {
    font-size: 2rem;
    position: absolute;
    left: 0;
    bottom: 100%;
    display: flex;

    .type {
        display: inline-block;
        width: 100px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_active {
            background-color: $bg--dark;
        }
    }
}
